body {
    background-color: #80808050;
}

a:link, visited {
    border:0px solid blue;
    text-decoration: none;
    color:#FFF;
    padding:10px;
    position: relative;
    left:415px;
    top:105px;
    margin-left: 15px;
    margin-bottom: 15px;
}

a.flink:hover {
    background: #FFF;
    color: #ffb900;
}

#cabecalho{
    border:0px solid red;
    background-color: #ffb900;
    height: 145px;
    margin:-8px;
}

.tecblog{
    font-size: 45px;
    border:0px solid blue;
    position: absolute;
    left:590px;
    top:40px;
}

#post {
    background-color: #FFF;
    height: 630px;
    width: 720px;
    margin-right: 680px;
    position: relative;
    top:20px;
    left:160px;
}

.titpost {
    color:#ffb900;
    position: relative;
    top:12px;
    left:18px;
}

.subt {
    position: relative;
    top:-11px;
    left:20px;
}

.imagem {
    position: relative;
    left:18px;
}

.paragrafo {
    margin-right: 78px;
    position: relative;
    left:19px;
}